{% extends 'base.html.twig' %}
{% block title %} Chercher une catégorie {% endblock %}
{% block body %}
    {% set categoryInput = '' %}

    {% if categories|length %}
        {% set categoryInput = categories[0].name %}
    {% endif %}

    {% set subCategoryInput = '' %}

    {% if subCategories[1] is not defined  %}
        {% if subCategories|length %}
            {% set subCategoryInput = subCategories[0].name %}
        {% endif %}
    {% endif %}
    <div class="container-fluid">
        <div>
            {{ form_start(form) }}
                {{form_row(form.category, {'value': categoryInput}) }}
                {{form_row(form.subCategory, {'value': subCategoryInput}) }}
                {{form_row(form.subSubCategory) }}
            {{ form_end(form) }}
        </div>
        {% if error == '' %}
            <br>
            La catégorie : 
            {% for category in categories %}
            {{ category.name }}
            {% endfor %}
            <br>
            La/les sous catégorie(s) : 
            {% for subCategory in subCategories %}
            {{ subCategory.name }}, 
            {% endfor %}
            <br>
            La/les sous sous catégorie(s) : 
            {% for subSubCategory in subSubCategories %}
            {{ subSubCategory.name }}, 
            {% endfor %}
        {% else %}
            <br>
            {{ error }}
        {% endif %}
    </div>
{% endblock %}